* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* 上部バーのスタイル */
.topbar {
  position: fixed;         /* 固定位置 */
  top: 0;                  /* 上端に配置:0 */
  left: 0;                 /* 左端に配置:0 */
  width: 100%;             /* 幅を画面いっぱいに:100 */
  background-color: #58a832;  /* 背景色:oasisgreen:#5aaa32,nitrored:#eb5f3c,malinblue:#3c64c8 e5f2ff */
  color: white;            /* 文字色:白 */
  padding: 10px 0;         /* 上下にパディング */
  z-index: 2000;           /* 他の要素より前面に表示:2000 */
}
.background {
  position: fixed;         /* 固定位置 */
  padding-top: 50px;       /* 上部バーの高さ分だけ下げる */
  margin: 20px;
　width: 100%;             /* 幅を画面いっぱいに */
  background-color: #e5f2ff;  /* 背景色:waterblue:#e5f2ff */
  z-index: 1;           /* 他の要素より前面に表示:1 */

}
