* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

/* 上部バーのスタイル */
.topbar {
position: fixed;         /* 固定位置 */
top: 0;                  /* 上端に配置:0 */
left: 0;                 /* 左端に配置:0 */
width: 100%;             /* 幅を画面いっぱいに:100 */
background-color: #58a832;  /* 背景色:oasisgreen:#5aaa32,nitrored:#eb5f3c,malinblue:#3c64c8 e5f2ff,:waterblue:#e5f2ff */
color: white;            /* 文字色:白 */
padding: 25px 0;         /* 上下にパディング */
z-index: 1;           /* 他の要素より前面に表示:2000 */
}

.background {
  position: fixed;     /* 固定位置で背景 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;         /* 高さを画面全体に */
  background-color: #e5f2ff;  /* 背景色:waterblue:#e5f2ff */
  z-index: -1;          /* 最背面に配置 */
}

.bar-button {
  border: none;                   /* 枠線なし */
  padding: 10px 20px;             /* 内側の余白 */
  display: flex;                  /* アイコンとテキストを横並び */
  align-items: center;            /* アイコンとテキストを垂直方向で中央揃え */
  transition: opacity 0.3s;       /* 透明度の変化にトランジションを追加 */
  width: 32px;
  height: auto;
  z-index: 2;           /* 他の要素より前面に表示:2 */
}

/* ボタンにホバーしたときのスタイル */
.bar-button:hover {
  opacity: 0.8;                   /* ホバー時に透明度を変更 */
}
